
.titulo {
    font-size: 20px;
    color: white;
    text-align:center ;
   }
  
  
  
  .dispatch
  {
    background-color:#343838;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     margin: 0;
     height: 100%;
  }
  
  .titulos {
  
  text-align: center;
  }
  
  .ambulancemodule {
  
  /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 50px;
    width: 40%;
    height: fit-content;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
  }
  
  .ambulance h1{
    text-align: center;
    padding: 0;
    color: #f9f2e7;
  
  }
  
  .ambulanceinfo{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    border: 2px solid #343838;
    border-radius: 2%;
    justify-content: space-between;
    width: 95%;
    background-color: #008c9e;
    align-items: center;
    margin-right: 10px;
    padding-right: 10px;
  
  }
  
  .circulo {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #343838;
    background: #5cb85c;
  }
  
  .circuloR {
    width: 20px;
    height: 20px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #343838;
    background: #ff0000;
  }
  
  .form {
    margin-top: 50px;
    width: 40%;
    border: #343838;
    height: fit-content;
    background-color:#343838 ;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;  
  }
  
  
  .infoEmergencia{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  
  }
  .numero{
    color: white;
    padding-left: 10px;
  
  }
  .form h1{
    text-align: center;
    color: whitesmoke;
  }
  
  form {
    
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
    border-radius: 5px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: white;
  }
  
  input,
  textarea,select {
    width: 100%;
    padding: 12px 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #af4c4c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #da2626;
  }
  
  