.footer{
    background-color: #008c9e;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    text-align: center;
    color: #fff;
    border: 4px solid black;
}

.footer h2{
    font-size: 1.0rem;
}

.footer h3{
    font-size: 0.8rem;
}